[Unit]
Description=BuildMecar web server and motor control daemon

[Service]
Type=exec
User=pi
WorkingDirectory=/home/pi/buildme-car
ExecStart=/home/pi/.local/bin/uv run src/buildmecar/main.py 
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
